body{
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: aliceblue;
 background-color: antiquewhite;
 background: linear-gradient(90deg,rgba(69, 147, 186, 1) 0%, rgba(40, 122, 73, 1) 100%, rgba(129, 205, 119, 1) 64%, rgba(237, 221, 83, 1) 100%);
}